            a:link {
                color:blue;
            }
            a:visited {
                color :yellow;
            }
            li.nemo{list-style-type: square;} 
            p {font-size:10px;}